.full-width.business-banner
  height 600px
  background center no-repeat
  background-size cover
  margin-top 1px
.container.crumbs

  color black
.full-width.tab{
  padding-top: 48px;
  background-color #f2f2f2
  border-bottom: #ccc 1px solid;
}
.about .row{
  margin: 0 auto;
  position: relative;
}
.row-item{
  float: left;
  height: 40px;
  width 33.3333333%;
  text-align: center;
  font-size: 18px;
}
.row-item a{
  padding: 0 4px 20px;
  height: 40px;
  width 100px
  display: block;
  margin 0 auto
  font-weight: bold;
}
.row-item a:hover{
  color: #038aeb;
  border-bottom: 3px solid #038aeb;
}
.row-item a.active{
  color: #038aeb;
  border-bottom: 3px solid #038aeb;
}
.company-cha
  background-color #f2f2f2
  .container
    padding 89px 10px 200px
.company-des
  background-color #f2f2f2
  padding 98px 10px 200px
  &:after
    display block
    content ''
    clear both
  .le
    width 580px
    margin-right 20px
    float left
    .cont
      text-indent 2em
      line-height 29px
      font-size 16px
      padding 0 5px
      vertical-align top
    .le-row
      margin-top 22px
      img
        display block
        float left
  .ri
    width 580px
    float left
.company-len
  background-color #f2f2f2
  .container
    padding 119px 10px 150px
    .detail-box
      position relative
      width 700px
      margin-left 80px
      &:after
        display block
        content ''
        clear both
      .ph-item
        display block
        position relative
        text-align center
        width 280px
        height 100px
        float left
        background-color white
        margin-right 70px
        margin-bottom 54px
        border solid 1px #038aeb
        border-radius 10px
        img
          position absolute
          top -30px
          left 111px
        p.name
          font-size 16px
          margin-top 40px
          font-weight bold
          margin-bottom 7px
          color black
    .qc-code
      position: absolute;
      right: 145px;
      top: 150px;
      img
        width 160px
        height 160px
      p
        text-align center
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}
