.user
  background-color #f2f2f2
  .container.user-center
    padding 30px 10px 200px
    &:after
      display block
      content ''
      clear both
    .sidebarL
      margin-top 0px
      position: relative
      float left
      width 280px
      min-height 670px
      margin-right 20px
      .child
        position relative
        width 280px
        margin-bottom 10px
        background-color white
        border-radius 6px
        border 1px solid white
        h1.tile
          margin-top 20px
          font-size 18px
          padding-left 20px
          color black
          font-weight bold
          border-left 2px solid #039dff
        p.item
          margin-top 12px
          padding-left 22px
          color #333
      .info
        height 210px
        p
          font-size 16px
          text-align center
          position: absolute
          width 100%
          bottom 35px
          color: #333
        .avatar
          position absolute
          width 100px
          height  100px
          top 20px
          left 90px
          border-radius 50%
          background-color #fff
          overflow hidden
          img
            display block
            width 100%
            height 100%
      .demand
        height 154px
      .service
        height 122px
      .account
        height 154px
    .sidebarR
      position relative
      float left
      width 880px
      min-height 670px
      height auto
